<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome User</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    input,
    button,
    a {
      outline: none;
      text-decoration: none;
    }
  </style>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#" style="color: white">MyCab</a>
      <button
        class="navbar-toggler bg-light navbar-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="color: white"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-auto">
            <a class="nav-link linker" href="/logout">Logout </a>
          </li>
          <li class="nav-item">
            <a class="nav-link linker" href="/history">My Bookings</a>
          </li>
          <!-- <li class="nav-item ">
          <a class="nav-link" href="/login" id="" role="button" data-toggle="" aria-haspopup="true" aria-expanded="false">
            Log In
          </a>
          
        </li> -->
          <!-- <li class="nav-item">
          <a class="nav-link " href="/signup">
            <button class="nav-btn">
              Sign up 
            </button>
          </a>
        </li> -->
        </ul>
      </div>
    </nav>
    <!-- navbar -->

    <!-- landing page -->
    <!-- Use this for the background cirlce and use the from home.css file for these classes -->
    <section class="landing">
      <div class="landing-body grid">
        <div class="left-circle">
          <img
            src="/Images/left Circle.svg"
            alt=""
            width="100% "
            height="100%"
          />
        </div>
        <div class="right-circle">
          <img
            src="/Images/Right Circle.svg"
            alt=""
            width="100% "
            height="100%"
          />
        </div>
        <!-- Use this for the background cirlce and use the from home.css file for these classes -->
        <div class="container flex" style="z-index: 1; text-align: center">
          <div class="row" style="text-align: center; width: 100%">
            <div style="width: 50%; margin-left: 25%">
              <div
                class="landing-title"
                style="color: white; text-align: center"
              >
                Welcome,
                <br />
                <span style="color: #5a5a5a"><%=nameOnLanding%></span>
              </div>
              <br />
              <div style="width: 50%; margin-left: 25%">
                <a href="/city">
                  <button class="landing-btn">Rent Now!</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
